xml-resources/web-service-references/services/wsdl/192.168.220.15_13443/TWSPASSBIO/services.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://temenos.com/TNAGETTRXPASS">

<xs:complexType name="TNAGETTRXPASSType">
<xs:sequence>
<xs:element name="gTNAGETTRXPASSDetailType" minOccurs="0">
<xs:complexType>
<xs:sequence>
<xs:element name="mTNAGETTRXPASSDetailType" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="MESSAGERETOUR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
<xs:attribute name="m" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
<xs:attribute name="g" type="xs:positiveInteger"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>